@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #141414 !important;
    font-family: 'Poppins', sans-serif;
}

.bg-car {
    background-image: url("images/image_main.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(45%);
}

.href-header {
    color: black;
    text-decoration: none;
    font-size: 28px;
}

.href-header:hover {
    color: grey;
}

.header-font {
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
        }

.big-header {
    color: #B40A1B; 
    font-size: 150px;
    font-weight: 700; 
    line-height: 187.5px;
    font-family: 'Montserrat', sans-serif;
}

.zavl {
    padding-top: 85px;
    color:#B40A1B; 
    font-size: 150px;
    font-weight: 900; 
    line-height: 125%;
    font-family: 'Montserrat', sans-serif;
}

.sc_he {
    margin-top: 0px;
/*    padding-bottom: 120px;*/
    font-size: 40px; 
    line-height: 48px; 
    font-weight: 700;
}

.ruby {
    margin: 10px 12px;
}

.adr_r {
    font-size: 25px;
    color:#B40A1B;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.adr {
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.card_text {
    color: white;
    font-size: 22px;
    padding: 10px 0px;
    min-width: 90%;
    letter-spacing: 1px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    position: relative;
    top: -30px;
}

.main-title {
    font-size: 64px;
    padding-top: 120px;
    padding-bottom: 180px;
    font-weight: 500;
    color: white;
    letter-spacing: .1em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.button {
    height: 70px;
}



.footer-top{
    background: #1D1C1C;
    color: white;
    border-bottom: 1px solid #222222;
    padding: 60px 30 0;
}
.footer-top .footer-info{
    margin-bottom: 3px;
}
.footer-top .footer-info h3{
    color: #B40A1B;
    font-size: 26px;
    margin: 0 0 20px p;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: bolder;
    text-transform: uppercase;
}
.footer-top .social-links a{
    width: 30px;
    height: 30px;
    background: #222222;
    display: inline-block;
    margin-right: 4px;
    border-radius: 4px;
    color: white;
    text-align: center;
}
.footer-top .social-links a:hover{
    background: #B40A1B;
}
.footer-top h4{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 12px;
}
.footer-links{
    margin-bottom: 30px;
}
.footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-links li{
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.footer-links a{
    color: white;
    text-decoration: none;
}
.footer-links a:hover{
    color: #B40A1B;
}