@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ANIMATIONS */

._anim-text-down {
    transform: translate(0px, 20px);
    opacity: 0;
    transition: all 2s ease 0s;
}

._anim-text-up {
    transform: translate(0px, -20px);
    opacity: 0;
    transition: all 2s ease 0s;
}

._anim-left {
    transform: translate(70%, 0px);
    opacity: 0;
    transition: all 2s ease 0s;
}

._anim-right {
    transform: translate(-70%, 0px);
    opacity: 0;
    transition: all 2s ease 0s;
}

._anim-scale {
    opacity: 0;
    transition: all 2s ease 0s;
}

._anim-scale._active {
    opacity: 1;
}

._anim-text-down._active,
._anim-text-up._active,
._anim-left._active,
._anim-right._active
 {
    transform: translate(0px, 0px);
    opacity: 1;
}


/* STATIC CSS */

body {
    background-color: #141414 !important;
    font-family: 'Poppins', sans-serif;
}

section {
    overflow: hidden;
}

.pad3 {
    padding-top: 180px;
    padding-bottom: 200px;
}

.darkness {
    background-color: rgba(0, 0, 0, 0.7);
}

/* PAGE 1 */


.page-1 {
    background-image: url("../images/image_main.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.page-1-over {
    overflow: hidden;
}

.href-header {
    color: black;
    text-decoration: none;
    font-size: 28px;
}

.href-header:hover {
    color: grey;
}

.header-font {
    margin-top: 80px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
        }

.big-header {
    color: #B40A1B; 
    font-size: 150px;
    font-weight: 700; 
    line-height: 187.5px;
    font-family: 'Montserrat', sans-serif;
}

.zavl {
    padding-top: 85px;
    color:#B40A1B; 
    font-size: 150px;
    font-weight: 900; 
    line-height: 125%;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.point-none {
    pointer-events: none;
    height: 100%;
}

.imgs-rows {
    display: flex;
    justify-content: center;
    overflow: hidden;
}


.sc_he {
    margin-top: 0px;
    padding-bottom: 145px;
    font-size: 40px; 
    line-height: 48px; 
    font-weight: 700;
}

.ruby {
    margin: 10px 12px;
}

.table-val {
    padding-top: 40px;
    padding-bottom: 15px;
    border-color: white;
    text-align: center;
}


.adr_r {
    font-size: 25px;
    color: #BA2231;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.adr {
    font-size: 22px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* PAGE 2 */

.page-2 {
    background-image: url("../images/bg-page-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-2-p {
    padding-bottom: 40px;
}

.cards {
    display: flex;
    justify-content:space-evenly;
    align-items: center;    
}

.card_text {
    color: white;
    font-size: 22px;
    padding: 10px 0px;
    min-width: 80%;
    letter-spacing: 1px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    position: relative;
    top: -30px
}

.main-title {
    font-size: 64px;
    padding-bottom: 120px;
    font-weight: 500;
    color: white;
    letter-spacing: .1em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.button {
    height: 70px;
}

/* PAGE 3 */

.page-3-bg {
    background-image: url("../images/bg-page-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.val-3 {
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.page-3 {
    background-image: url("../images/bg-page-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-3-un {
    display: flex;
    margin: 0px 200px;
}

.page-un {
    width: 50%;
}

.page-un-r {
    width: 50%;
}

.title-3 {
    display: flex;
}

.iconic {
    width: 11%;
    margin: 5px;
    background-color: #1D1C1C;
}

.un-golf {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: flex;
    overflow: hidden;
}

.img-fit {
    pointer-events: none;
    height: 500px;
    width: 600px;
    object-fit: cover;
    overflow: hidden;
    margin: auto;
}

.golf-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.golf-img .item {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.golf-str {
    pointer-events: none;
    margin: 10px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.golf-but {
    width: 80%;
}

.golf-l {
    text-decoration: none;
    color: white;
    font-weight: 600;
    /* font-size: 24px; */
    font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 16) + 10px);
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    margin: 5px 20px;
}

.golf-l-s {
    line-height: 26px;
    padding-top: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    padding-right: 30px;
}

.ruby-3 {
    margin: 0px 10px;
}

.un-golf .next, .un-golf .previous {
    cursor: pointer;
    
}


/* VLAD's CSS */

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #151515;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    color: #B40A1B;
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    padding: 0px;
}
.menu__item {
    list-style: none;
}
.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.85s;
    text-decoration: none;
    font-weight: 300;
}

.menu__link:hover {
    color: #B40A1B;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding: 0px;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.5rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: #B40A1B;
}