<nav class="navbar-m" id="navbar">
    <div class="navbar-main _anim-items _anim-no-hide _anim-text-up">
        <a href='{{ url_for("index") }}' class="header-font nav-title" style="margin-inline: 20px;">
            Главная
        </a>
        <a href='{{ url_for("services") }}' class="header-font nav-title" style="margin-inline: 20px;">
            Наши услуги
        </a>
        <a href='#' class="header-font nav-title" style="margin-inline: 20px;">
            Галерея работ
        </a>
    </div>
</nav>