{% extends 'base.html' %}

{% block title %}
    Services
{% endblock %}


{% block body %}id="bgRel" class="services-body"{% endblock %}

{% block main %}
    {% include '_navbar.html' %}
    {% set i = 1 %}
    {% for service in services %}
        {% if service.service_id % 2 == 1 %}
            {% set i = 0 %}
            <div class="service">
                <!-- LEFT -->
                    <div class="col-serv col-text _anim-items _anim-right _anim-no-hide">
                        <h3 class="text-white">{{ service.title }}</h3>
                        <p class="text-white">{{ service.text }}</p>
                        <a class="main-title but-service" href="#openModal">Заказать</a>
                    </div>
                <!-- RIGHT -->
                    <div class="col-serv _anim-items _anim-left _anim-no-hide">
                        <div id="{{ service.image }}" class="serv-img"></div>
                    </div>
            </div>
        {% else %}
            {% set i = 1 %}
            <div class="service">
                <!-- LEFT -->
                    <div class="col-serv _anim-items _anim-right _anim-no-hide">
                        <div id="{{ service.image }}" class="serv-img"></div>
                    </div>
                <!-- RIGHT -->
                    <div class="col-serv col-text _anim-items _anim-left _anim-no-hide">
                        <h3 class="text-white">{{ service.title }}</h3>
                        <p class="text-white">{{ service.text }}</p>
                        <a class="main-title but-service" href="#openModal">Заказать</a>
                    </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}